{% extends "master.html" %}

{% block title %}
Members of the office
{% endblock %}

{% block content %}
<h1>Members in the office</h1>
<ul>
    {% for member in latest_employ %}
    <li # {% if forloop.last %} 
        style='background-color:lightgreen;'
    {% endif %}# >
    <a href="/Docketrun/All_employs/employ_details/{{ member.id }}">{{ member.name }}</a>
    </li>
    {% endfor %}
    <hr>
    
    <p>Go to the Main Page <a href="/Docketrun/main">Go To Main</a></p>
</ul>

{% endblock %}