<!DOCTYPE html>
<html>
  <li><a href="/Docketrun/insert_employ"> <h2>Insert_employ</h2></a></li>
<body>
  
    <h2>Employs List</h2>
    {% if latest_employ %}
    <ul>
    {% for employ in latest_employ %}
        <li><a href="employ_details/{{ employ.id }}/">{{ employ.name }}</a></li>
        <h2>for delete</h2>
        <li><a href="delete_employ/{{ employ.id }}/">{{ employ.name }}</a></li>
        <h2>for update</h2>
        <li><a href="update_employ/{{ employ.id }}/">{{ employ.name }}</a></li>
        <hr>
    {% empty %} 
    <li>No members</li>
  {% endfor %}
    </ul>
    {% else %}
    <h3><p>No latest_Employ are available.</p></h3>
        {% endif %}
        <hr>
        <p>Go to the Main Page <a href="/Docketrun/main">Go To Main</a></p>
</body>
</html>